[tool.black]
line-length = 88
target-version = ['py313']

[tool.isort]
profile = "black"
multi_line_output = 3 
include_trailing_comma = true
force_grid_wrap = 0 
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88

[autoflake]
check = true
in-place = true
recursive = true
remove-all-unused-imports = true
remove-duplicate-keys = true
remove-unused-variables = true
ignore-init-module-imports = false
expand-star-imports = false

[tool.pyright]
include = ["app"]